<div class="center hero-unit">
    <h1>Welcome to Michael Rokosh's Test Application!</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Michael Rokosh's</a>
      test application.
    </h2>
    <p><%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %></p>
    <%= link_to image_tag("http://s3.amazonaws.com/lyah/helloworld.png", alt: "Hello World!"), 'http://google.com' %>
</div>




